<h1>Observers</h1>

<p>
  First name:

  <input
    value={{this.firstName}}
    oninput={{action "setValue" "firstName"}}
  />
</p>

<p>
  Last name:

  <input
    value={{this.lastName}}
    oninput={{action "setValue" "lastName"}}
  />
</p>

<p>
  Full name: {{this.fullName}}
</p>

<p>
  First name in uppercase: {{this.firstNameUppercase}}
</p>

<p>
  Last name in reverse: {{this.lastNameReverse}}
</p>

<p>
  Last name character counts:

  <ul>
    {{#each this.lastNameCharacterCounts as |count|}}
      <li>
        {{get count "0"}}: {{get count "1"}}
      </li>
    {{/each}}
  </ul>
</p>
